.page[b-2i30tnls00] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-2i30tnls00] {
    flex: 1;
}

.sidebar[b-2i30tnls00] {
    background-image: linear-gradient(180deg, rgb(157, 169, 191) 0%, #94b7b5 70%);
}

.top-row[b-2i30tnls00] {
    background-color: #fafafa; 
    border-bottom: 1px solid #ffffff;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-2i30tnls00]  a, .top-row .btn-link[b-2i30tnls00] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-2i30tnls00] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2i30tnls00] {
        display: none;
    }

    .top-row.auth[b-2i30tnls00] {
        justify-content: space-between;
    }

    .top-row a[b-2i30tnls00], .top-row .btn-link[b-2i30tnls00] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2i30tnls00] {
        flex-direction: row;
    }

    .sidebar[b-2i30tnls00] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2i30tnls00] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-2i30tnls00], article[b-2i30tnls00] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
