@page "/"

<PageTitle>Saúde - IMC</PageTitle>

<h1>Bem-vindo!</h1><br /><br />


<h2> O que é IMC? </h2> <br />

<p>O IMC é um indicador usado praticamente em todo o mundo como forma de identificar, rapidamente, situações de défice, excesso de peso ou obesidade.
 Trata-se de uma medida simples, resultado de uma fórmula que relaciona o peso e a altura de uma pessoa.  A partir de valores de referência é possível 
 usar o IMC como ferramenta para avaliar a sua própria saúde e identificar possíveis riscos. Apesar de não existir um peso ideal, o IMC pode ser uma 
 ferramenta de ajuda fácil para consciencializar a pessoa da sua divergência em função da escala de peso, este é o primeiro passo para determinar a 
 atitude a tomar em função do seu grau de IMC, de excesso de peso ou obesidade.</p> <br />

<h3> Como se calcula o IMC?</h3><br />

<p>Basicamente, o IMC é calculado através da fórmula: Peso(kg)/Altura(m)2. No entanto, um valor isolado de IMC é insuficiente para perceber se está 
    com um peso adequado à sua altura. Deverá compará-lo com as tabelas de referência da Organização Mundial de Saúde (OMS), que dividem os diferentes 
    valores de IMC por escalão, associando-os a uma classificação (Baixo Peso, Peso Normal, Excesso de Peso e Obesidade). 
    Só assim conseguirá identificar se está com um peso adequado à sua altura. </p><br />

<h3> Valores de referência para o IMC</h3><br />

<p>Segundo os valores de referência da OMS, considera-se que existe excesso de peso a partir de um IMC de 25. Se o valor obtido for igual ou superior a 30,
     a pessoa tem obesidade. Para saber qual a classificação associada ao seu IMC, consulte a tabela abaixo. </p><br />

    <table border="1">
        <colgroup>
            <col span="2" style="background-color:rgba(255, 255, 255, 0.916)">
        </colgroup>
    <tr>
        <th>IMC</th>
        <th>Classificação</th>
    </tr>
    <tr>
        <th>Abaixo de 18,5</th>
        <td>abaixo do peso</td>
    </tr>
    <tr>
        <th>Entre 18,6 e 24,9</th>
        <td>Peso ideal</td>
    </tr>
    <tr>
        <th>Entre 25,0 e 29,9</th>
        <td>Levemente acima do peso</td>
    </tr>
    <tr>
        <th>Entre 30,0 e 34,9</th>
        <td>Obesidade grau I</td>
    </tr>
    <tr>
        <th>Entre 35,0 e 39,9</th>
        <td>Obesidade grau II (severa)</td>
    </tr>
    <tr>
        <th>Acima de 40</th>
        <td>Obesidade grau III (Mórbida)</td>
    </tr>
</table><br />

<img src="/Images/saude-desenho.png" class="img-fluid" asp-append-version="true" alt="Saúde - IMC"/>


<SurveyPrompt Title="How is Blazor working for you?" />
