@page "/Oque"

<PageTitle>Saúde - IMC</PageTitle>

<h1>Bem-vindo!</h1><br /><br />


<h2> O que é IMC? </h2> <br />

<p>O IMC é um indicador usado praticamente em todo o mundo como forma de identificar, rapidamente, situações de défice, excesso de peso ou obesidade.
 Trata-se de uma medida simples, resultado de uma fórmula que relaciona o peso e a altura de uma pessoa.  A partir de valores de referência é possível 
 usar o IMC como ferramenta para avaliar a sua própria saúde e identificar possíveis riscos. Apesar de não existir um peso ideal, o IMC pode ser uma 
 ferramenta de ajuda fácil para consciencializar a pessoa da sua divergência em função da escala de peso, este é o primeiro passo para determinar a 
 atitude a tomar em função do seu grau de IMC, de excesso de peso ou obesidade.</p> <br />

 <img src="/Images/saude-desenho.png" class="img-fluid" asp-append-version="true" alt="Saúde - IMC"/>